a, a:visited {
    color: #008565;
}

.atg-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.header--primary span.logo {
  width: 100px;
  padding-top: 42px;
  height: 0;
  overflow: hidden;
  display: block;
  flex: 0 0 auto;
  background: url(/assets/logo.png);
  background-size: 100px 42px;
  background-repeat: no-repeat;
  line-height: inherit;
  margin-right: 20px;
}

.header--primary .title a {
    color: #333;
}

.atg-mission {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  font-size: 1.875rem;
  line-height: 1.6;
  font-weight: 100;
  div {
    padding: 20px;
    background-color: rgb(245,245,245);
  }
}

.atg-projects {
  h2 {
    margin-bottom: 0;
  }

  .atg-projects-subtitle {
    font-weight: 100;
  }
}

.atg-project {
  &:not(:first-child) {
    padding-top: 24px;
  }

  &:not(:last-child) {
    padding-bottom: 24px;
    border-bottom: 1px solid rgb(245,245,245);
  }

  h3 {
    margin-bottom: 0;
  }
}

.atg-profile {
  display: -webkit-flex;
  display: flex;
  img {
    margin-left: 0;
    height: 175px;
    width: 175px;
    min-width: 175px;
  }
  div {
    flex-shrink: 50;
  }
  i.fa {
    margin-right: 10px;
  }

  .profile-content {
    position: relative;

    .social-media {
      position: absolute;
      bottom: 0;

      a {
        color: #ccc;
      }
      a:hover, a:active {
        color: #008565
      }
    }
  }
}

.atg-profile {
  padding: 20px 0
}

@media screen and (max-width: 44.9375em) {
  .atg-profile {
    display: block;
    text-align: center;

    .profile-content .social-media {
      position: relative;
      margin-top: 20px;
    }
  }
}

/* Fixes to be removed later */
.tile {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.tiles > .tile {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

@media screen and (min-width: 45em) {
  .tiles--flush > .tile {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
}
